<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">
     <img src="https://www.kindpng.com/picc/m/44-441427_transparent-clipart-app-logos-social-media-png-png.png" class="logo" style="border-radius:70%" width="60px" height="50px">Clone </div>

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/friends">Friends List</a></li>
        <li><a routerLink="/allusers">All users</a></li>
        <li><a routerLink="/myposts">My Posts</a></li>
        <li (click)="Logout()">Logout</li>
      </div>
    </ul>
  </nav>